<a href="https://colab.research.google.com/github/RiddhimanRaut/Deep-Learning-based-CPR-estimation/blob/main/RNN_CPR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

url = "https://github.com/RiddhimanRaut/Deep-Learning-based-CPR-estimation/blob/main/excel_dataset.xlsx?raw=true"
df = pd.read_excel(url)
df = df[5::6]
df.head()

date_time = df.

              Date Time    CPRAVG       PROP  ...        O2     DRAFT        ETH
5   01.01.2009 01:00:00  0.426381  19.491810  ...  1.319569 -5.266271  74.667397
11  01.01.2009 02:00:00  0.424473  19.367620  ...  1.111588 -4.903431  74.886887
17  01.01.2009 03:00:00  0.425650  19.237329  ...  1.149024 -4.946926  75.145287
23  01.01.2009 04:00:00  0.427131  19.201321  ...  1.014898 -4.618164  75.280724
29  01.01.2009 05:00:00  0.428690  17.998270  ...  1.036991 -4.617743  76.774757

[5 rows x 13 columns]